@using MyShared.Models
@inject NavigationManager Navigation

<div class="notification-card" @onclick="Navigate">
    <div class="notification-header">
        <div class="notification-project-name">
            @notification?.ProjectName
        </div>
        @if (!string.IsNullOrWhiteSpace(notification?.TaskName))
        {
            <div class="notification-task-name">@notification?.TaskName</div>
        }
    </div>
    <div class="notification-created">@notification?.Created.ToShortDateString()</div>
    <div class="notification-card-content">@notification?.Message</div>
    @if (notification is { IsRead: false })
    {
        <div class="notification-card-unread">
            <i class="bi bi-exclamation-circle"></i>
        </div>
    }
</div>

@code {

    [Parameter] public NotificationDto? notification { get; set; }

    private void Navigate()
    {
        Navigation.NavigateTo(string.IsNullOrWhiteSpace(notification!.TaskName) 
            ? $"/Project/{notification!.ProjectId}" 
            : $"/Task/{notification!.TaskItemId}");
    }
}