@using Frontend.Services
@using MyShared.Models
@inject NavigationManager Navigation
@inject IJSRuntime JS
@inject JwtHelper JwtHelper
@inject UiStateService Ui
@inject NotificationService NotificationService

<div class="project-card" @onclick="GoToProject">
    <div class="project-card-header">
        @if (isEditing)
        {
            <input class="edit-name-input" 
                   @bind="editName"
                   @bind:event="oninput"
                   @onclick:stopPropagation="true"/>
            
        }
        else
        {
            <div class="project-card-title">
                @Project?.Name
                @if (Project?.UnreadNotificationsCount > 0)
                {
                    <span class="notifications-badge">@Project.UnreadNotificationsCount</span>
                }
            </div>
            @if (IsOwner)
            {
                <div class="project-options">
                    <button class="btn btn-sm btn-primary" @onclick="StartShare" @onclick:stopPropagation="true" title="Share project">
                        <i class="bi bi-share"></i>
                    </button>
                    <button class="btn btn-sm btn-info" @onclick="StartEdit" @onclick:stopPropagation="true" title="Edit project">
                        <i class="bi bi-pen"></i>
                    </button>
                    <button class="btn btn-sm btn-danger" @onclick="DeleteProject" @onclick:stopPropagation="true" title="Delete project">
                        <i class="bi bi-trash"></i>
                    </button>
                </div>
            }
        }
    </div>
    <div class="project-card-body">
        <div class="project-card-body-header">
            <div class="project-card-owner">@Project?.Username</div>
            <div class="project-card-dash"> - </div>
            <div class="project-card-created">@Project?.Created</div>
        </div>
        @if (isEditing)
        {
            <textarea class="edit-description-input"
                        rows="6"
                        @bind="editDescription"
                        @bind:event="oninput"
                        @onclick:stopPropagation="true"></textarea>
        }
        else
        {
            <div class="project-card-description">@Project?.Description</div>
        }
        <div class="project-card-task-count"><span class="fw-bold">@Project?.TaskCount </span> tasks in this project</div>
    </div>
    @if (isEditing)
    {
        <div class="edit-actions" @onclick:stopPropagation="true">
            <button class="btn-main" @onclick="SaveProject">Save</button>
            <button class="btn-alt" @onclick="CancelEdit">Cancel</button>
        </div>
    }
</div>

@code {
    [Parameter] public ProjectDto Project { get; set; }
    [Parameter] public EventCallback OnDeleted { get; set; }
    [Parameter] public EventCallback<int> OnShare { get; set; }
    [Parameter] public string userId { get; set; }
    [Parameter] public bool IsOwner { get; set; } = false;
    
    private bool isEditing;

    private string editName = "";
    private string editDescription = "";

    private async void GoToProject()
    {
        await NotificationService.MarkProjectNotificationsAsRead(Project.Id);
        Ui.NotifyStateChanged();
        Navigation.NavigateTo($"/Project/{Project.Id}");
    } 

    private void StartEdit()
    {
        editName = Project!.Name;
        editDescription = Project!.Description;
        isEditing = true;
    }

    private void CancelEdit()
    {
        editDescription = "";
        editName = "";
        isEditing = false;
    }

    private async Task SaveProject()
    {
        var client = await JwtHelper.GetAuthenticatedClientAsync();

        var dto = new ProjectCreateDto
        {
            Name = editName,
            Description = editDescription,
            UserId = userId
        };

        var response = await client.PutAsJsonAsync($"api/Project/{Project.Id}", dto);

        if (!response.IsSuccessStatusCode)
        {
            Console.WriteLine("Error editing project: " + response.StatusCode);
            return;
        }
        
        editDescription = "";
        editName = "";

        var notification = new NotificationCreateDto
        {
            ProjectId = Project.Id,
            Message = "Project has been edited"
        };

        response = await client.PostAsJsonAsync($"api/Notification", notification);

        if (!response.IsSuccessStatusCode)
        {
            Console.WriteLine("Error creating notification: " + response.StatusCode);
            return;
        }

        if (OnDeleted.HasDelegate)
            await OnDeleted.InvokeAsync();
    }

    private void StartShare()
    {
        if (OnShare.HasDelegate)
            OnShare.InvokeAsync(Project.Id);
    }

    private async Task DeleteProject()
    {
        if (!IsOwner) return;
        if (!await JsConfirm("Are you sure you want to delete this project?")) return;

        try
        {
            var client = await JwtHelper.GetAuthenticatedClientAsync();
            var response = await client.DeleteAsync($"api/Project/{Project.Id}");

            if (!response.IsSuccessStatusCode)
            {
                Console.WriteLine("Error deleting project: " + response.StatusCode);
                return;
            }
            
            

            if (OnDeleted.HasDelegate)
                await OnDeleted.InvokeAsync();
        }
        catch (Exception ex)
        {
            Console.WriteLine("Exception deleting project: " + ex.Message);
        }
    }
    
    private async Task<bool> JsConfirm(string message) => await JS.InvokeAsync<bool>("confirm", message);
}