@using MyShared.Models
@using Microsoft.AspNetCore.Components


<NavLink class="project-card" href="/Project/@Project.Id">
    <div class="project-card-headline">@Project?.Name</div>
    <div class="project-card-owner">@Project?.Username</div>
    <div class="project-card-created">Created: @Project?.Created</div>
    <div class="project-card-description"><span class="fw-bolder">Description:</span> @Project?.Description</div>
    <div class="project-card-task-count"><span class="fw-bold">@Project?.TaskCount </span> tasks in this project</div>
</NavLink>

@code {
    [Parameter]
    public ProjectDto Project { get; set; }
}