.project-card {
    background-color: rgba(58, 6, 71, 0.2);
    border: 1px solid rgb(5, 22, 61);
    border-radius: 8px;
    padding: 10px;
    margin: 30px 10px;
}

.project-card-headline{
    font-size: 18px;
    font-weight: bold;
}

.project-card-owner {
    font-size: 16px;
    margin-top: 8px;
}

.project-card-created {
    font-style: italic;
}

.project-card-description {
    margin-top: 10px;
}

.project-card-task-count {
    margin-top: 20px;
}

.project-card:hover {
    cursor: pointer;
    background-color: rgba(58, 6, 71, 0.4);
}

.project-card:active {
    cursor: pointer;
    background-color: rgba(58, 6, 71, 0.1);
}