@using MyShared.Models
@inject NavigationManager Navigation


<div class="project-card position-relative" @onclick="() => GoToProject(Project.Id)">
    <div class="project-card-headline d-flex align-items-center">
        @Project?.Name
        @if (Project?.UnreadNotificationsCount > 0)
        {
            <span class="notifications-badge ms-2">@Project.UnreadNotificationsCount</span>
        }
    </div>
    <div class="project-card-owner">@Project?.Username</div>
    <div class="project-card-created">Created: @Project?.Created</div>
    <div class="project-card-description"><span class="fw-bolder">Description:</span> @Project?.Description</div>
    <div class="project-card-task-count"><span class="fw-bold">@Project?.TaskCount </span> tasks in this project</div>
</div>

@code {
    [Parameter]
    public ProjectDto Project { get; set; }
    
    [Parameter]
    public EventCallback OnDeleted { get; set; }

    void GoToProject(int id) => Navigation.NavigateTo($"/Project/{Project.Id}");
}