.task-card {
    background: rgba(5, 22, 61, 0.2);
    border: 1px solid rgba(5, 22, 61, 1);
    border-radius: 8px;
    margin: 30px 10px;
    padding: 10px;
}

.task-card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 6px;
}

.task-card-description {
    font-size: 16px;
    margin-bottom: 6px;
}

.task-card-due-date {
    font-style: italic;
    font-size: 14px;
    margin-bottom: 12px;
}