@page "/Project/{projectId:int}"
@using Frontend.Components.Components
@using Frontend.Services
@using Microsoft.AspNetCore.Components.Authorization
@using MyShared.Models
@rendermode InteractiveServer
@inject NavigationManager Navigation
@inject ApiClientFactory ClientFactory
@inject AuthenticationStateProvider AuthenticationStateProvider

<h3>@project?.Name</h3>

@if (loading)
{
    <p>Loading...</p>
} else if (tasks == null)
{
    <p>There was an error retrieving the tasks for this project</p>
} else if (tasks.Length == 0)
{
    <p>There are no tasks in this project</p>
}
else
{
    <div class="task-card-grid">
        @foreach (var task in tasks)
        {
            <TaskCard Task="@task" userId="@userId" OnDeleted="LoadTasks" />
        }
    </div>
}
<button class="btn-alt" @onclick="() => GoToNewTask(project.Id)">New Task</button>

@code {
    [CascadingParameter] private Task<AuthenticationState> authenticationStateTask { get; set; } = default!;
    
    [Parameter] public int projectId { get; set; }
    
    private TaskItemDto[]? tasks;
    private ProjectDto? project;
    private string? userId;
    private bool loading = true;
    
    void GoToNewTask(int id) => Navigation.NavigateTo($"/Project/{project.Id}/NewTask");

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;
        await LoadTasks();
    }

    private async Task LoadTasks()
    {
        loading = true;
        
        try
        {
            var client = await ClientFactory.CreateClient();

            var authenticationState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            userId = authenticationState.User.Identity?.Name;
            
            tasks = await client.GetFromJsonAsync<TaskItemDto[]>($"api/Tasks/project/{projectId}");
            project = await client.GetFromJsonAsync<ProjectDto>($"api/Project/{projectId}");
        }
        catch (Exception ex)
        {
            Console.WriteLine("Error calling API: " + ex.Message);
        }
        finally
        {
            loading = false;
            StateHasChanged();
        }
    }
}