@page "/Project/{projectId:int}"
@using Frontend.Components.Components
@using Frontend.Components.Layout
@using Frontend.Services
@using MyShared.Models
@rendermode InteractiveServer
@inject NavigationManager Navigation
@inject JwtHelper JwtHelper
@layout AfterLoginLayout

<h3>@project?.Name</h3>

@if (loading)
{
    <p>Loading...</p>
} else if (tasks == null)
{
    <p>There was an error retrieving the tasks for this project</p>
} else if (tasks.Length == 0)
{
    <p>There are no tasks in this project</p>
}
else
{
    @foreach (var task in tasks)
    {
        <TaskCard Task="task" userId="@userId" OnDeleted="LoadTasks" />
    }
}
<button class="btn-alt" @onclick="() => GoToNewTask(project.Id)">New Task</button>

@code {
    private TaskItemDto[]? tasks;
    private ProjectDto? project;
    private string? userId;
    private bool loading = true;
    
    [Parameter]
    public int projectId { get; set; }

    void GoToNewTask(int id) => Navigation.NavigateTo($"/Project/{project.Id}/NewTask");

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;
        await LoadTasks();
    }

    private async Task LoadTasks()
    {
        loading = true;
        
        try
        {
            var client = await JwtHelper.GetAuthenticatedClientAsync();
            var token = await JwtHelper.GetAuthorizationTokenAsync();
            userId = JwtHelper.GetUserId(token);
            
            tasks = await client.GetFromJsonAsync<TaskItemDto[]>($"api/Tasks/project/{projectId}");
            project = await client.GetFromJsonAsync<ProjectDto>($"api/Project/{projectId}");
        }
        catch (Exception ex)
        {
            Console.WriteLine("Error calling API: " + ex.Message);
        }
        finally
        {
            loading = false;
            StateHasChanged();
        }
    }
}