@page "/NewProject"
@using Frontend.Components.Layout
@using Frontend.Services
@using MyShared.Models
@rendermode InteractiveServer
@inject NavigationManager Navigation
@inject ApiClientFactory ClientFactory
@layout AfterLoginLayout

<h3 class="mb-4">Create New Project</h3>

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger">@errorMessage</div>
}

<div class="new-project-form">
    <div class="mb-3">
        <label for="projectName" class="form-label fw-bold">Project Name</label>
        <input id="projectName" type="text" class="form-control rounded-pill" @bind="project.Name" placeholder="Enter project name" />
    </div>
    
    <div class="mb-3">
        <label for="projectDescription" class="form-label fw-bold">Project Description</label>
        <textarea id="projectDescription" class="form-control rounded" rows="4" @bind="project.Description" placeholder="Enter project description"></textarea>
    </div>
    
    <button class="btn btn-main" @onclick="CreateProject">Create Project</button>
</div>

@code {
    private ProjectCreateDto project = new();
    private string? errorMessage;

    private async Task CreateProject()
    {
        // check that requried fields are not empty
        errorMessage = string.Empty;

        if (string.IsNullOrWhiteSpace(project.Name))
        {
            errorMessage = "Project name is required";
            return;
        }
        
        // create the project 
        try
        {
            var client = await ClientFactory.CreateClient();
            var response = await client.PostAsJsonAsync("api/project", project);

            if (!response.IsSuccessStatusCode)
            {
                errorMessage = "Error creating project.";
                Console.WriteLine(response);
                return;
            }

            Navigation.NavigateTo("/");
        }
        catch (Exception ex)
        {
            errorMessage = "Exception: " + ex.Message;
        }
        
    } 
}