@inherits MainLayout
@using Frontend.Services
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using MyShared.Models
@inject ProtectedSessionStorage sessionStorage
@inject NavigationManager Navigation
@inject JwtStore JwtStore


<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <a @onclick="Logout">Log out</a>
        </div>

        <article class="content px-4">
            @Body
        </article>

    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private async Task Logout()
    {
        await sessionStorage.DeleteAsync("authToken");
        Navigation.NavigateTo("/Login", true);
    }
}