@using Frontend.Components.Components
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inherits LayoutComponentBase
@inject NavigationManager Navigation


<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div>
            <AuthorizeView>
                <Authorized>
                    <p>@context.User.Identity?.Name</p>
                </Authorized>
                <NotAuthorized>
                    <p>LOG OUT!!!</p>
                </NotAuthorized>
            </AuthorizeView>
        </div>
        
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>