@page "/Login"
@rendermode InteractiveServer
@inject IHttpClientFactory Http
@inject ProtectedSessionStorage sessionStorage
@inject NavigationManager Navigation
@inject Services.AuthStateService AuthState
@using Frontend.Components.Layout
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using MyShared.Models

<h3>Logg inn</h3>

@if (!string.IsNullOrEmpty(errorMessage))
{
    <p style="color:red">@errorMessage</p>
}

<input @bind="login.Username" placeholder="Brukernavn"/>
<br/>
<input type="password" @bind="login.Password" placeholder="Passord"/>
<br/>
<button @onclick="HandleLogin">Logg inn</button>

<p>Don't have a user?</p>
<NavLink href="/Register">Register instead</NavLink>

@code {
    private LoginDto login = new();
    private string? errorMessage;

    private async Task HandleLogin()
    {
        var client = Http.CreateClient("TaskManagementAPI");
        var response = await client.PostAsJsonAsync("api/auth/login", login);

        if (!response.IsSuccessStatusCode)
        {
            errorMessage = "Feil brukernavn eller passord";
            return;
        }

        await using var stream = await response.Content.ReadAsStreamAsync();
        using var jsonDoc = await System.Text.Json.JsonDocument.ParseAsync(stream);

        var root = jsonDoc.RootElement;
        
        // check if isSuccess is true
        if (!root.GetProperty("isSuccess").GetBoolean())
        {
            errorMessage = root.GetProperty("message").GetString();
            return;
        }
        
        // extract the token
        var token = root.GetProperty("token").GetProperty("result").GetString();
        if (string.IsNullOrEmpty(token))
        {
            errorMessage = "Kunne ikke hente token";
            return;
        }
        
        // store token in local storage
        await sessionStorage.SetAsync("authToken", token);

        AuthState.SetLayout(typeof(AfterLoginLayout));
        

        Navigation.NavigateTo("/");
    }
}